# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/
.flutter-plugins-dependencies
.packages 
# Can be removed after Dart 2.17

# testing
/coverage

# production
build/
.dart_tool/
pubspec.lock  
# Except for application packages

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*~
*.orig
